.broadcast-container {
  max-width: 550px;
  margin: 40px auto;
  padding: 20px;
  background: #f9f9f9;
  border-radius: 8px;
  box-shadow: 0 0 10px #ccc;
  align-items: center;
}

.form-groupb {
  width: 95%;
  margin-left: 12px;
}

.broadcast-title {
  text-align: center;
  font-size: 24px;
  margin-bottom: 20px;
  color: black;
  margin-top: 30px;
}


.broadcast-form label {
  font-size: 16px;
  margin-bottom: 3px;
  color: black;
}


.broadcast-form input[type="text"],
select {
  margin-top: 5px;
  padding: 10px;
  font-size: 16px;
  border-radius: 4px;
  width: 100%;
  color: black;
}


.broadcast-form .submit-btn {
  width: 95%;
  padding: 10px;
  font-size: 16px;
  color: #fff;
  background-color: #48742F;
  border-radius: 5px;
  cursor: pointer;
  margin-bottom: 20px;
  text-align: center;
  display: block;
  justify-content: center;
  align-items: center;
margin-left: 12px;


}


.submit-btn:hover {
  background-color: #3a5c23;
}

.submit-btn:disabled {
  background-color: #ccc;
  cursor: not-allowed;
}


.popup-message {
  margin-top: 20px;
  padding: 10px;
  background-color: #3a5c23;
  color: white;
  border-radius: 4px;
  text-align: center;
  font-size: 16px;
}


.broadcast-form p {
  color: #888;
  text-align: center;
  font-size: 14px;
}
.broadcast-form .checkbox-group {
  display: flex;
  align-items: center;
}
.broadcast-form .checkbox-group input[type="checkbox"] {
  width: 18px; /* Adjust size of the checkbox */
  height: 18px; /* Adjust size of the checkbox */
  cursor: pointer; /* Pointer cursor for better UX */
 margin-left: 17px;
}

.broadcast-form .checkbox-group label {
  font-size: 16px;
  margin-bottom: 22px;
  color: #333;
}

.chose-program{
  margin-left: 12px;
}