

html, body {
  height: 88vh;
  width: 100%;
  font-family: 'Arial', sans-serif;
  background-color: #f4f4f4;
  display: flex;
  flex-direction: column;
}


.Chat-container {
  display: flex;
  height: 88vh;
}

.sidebar {
  height: 88vh;
  width: 330px;
  background-color: #ffffff;
  border-color: #25292e;
  color: white;
  padding-left: 20px;
  padding-right: 20px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  overflow-y: auto;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); 
  
}

.sidebar input {
  margin-top: 30px;
  padding: 10px;
  margin-bottom: 20px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 14px; 
}

.sidebar .search{
  margin-top: 25px;
}
.catted{
  text-align: left;
}
.sidebar div {
  padding: 10px;
  margin-bottom: 10px;
  cursor: pointer;
  background-color: white;        
  border: 1px solid #ccc;         
  border-radius: 5px;
  transition: background-color 0.3s ease, border 0.3s ease;
  color: black;
}

.chat-box {
  flex: 1;
  display: flex;
  flex-direction: column;
  min-height: 88vh;
}
.chat-box h2 {
 
  color: #333;
}


.chat-messages {
  flex: 1;
  overflow-y: auto;
  margin-bottom: 20px;
 
}


.chat-input {
  box-shadow: 0 2px 12px rgba(0, 0, 0, 0.3); 
  display: flex;
  padding: 5px;
  background-color: #ffffff;
  border-color: #25292e;  
  position: sticky; 
}

.chat-input input {
  flex-grow: 1; 
  padding: 10px;
  font-size: 14px;
  border: 1px solid #999999;
  border-radius: 4px;
  margin-right: 10px;
  resize: none; 
  min-width: 150px;
  margin-top: 17px !important;
  margin-left: 15px !important;
}

.chat-input button {
  padding: 10px 20px;
  font-size: 14px;
  background-color: #48742F;
  color: white;
  border-radius: 4px;
  cursor: pointer;
  margin-top: 17px !important;
  margin-right: 15px !important;

}

.chat-input button:disabled {
  background-color: #ccc;
}

.chat-messages {
  display: flex;
  flex-direction: column;
  padding: 10px;
  overflow-y: auto;
  scroll-behavior: smooth; 
  padding: 20px;

}

.message {
  padding: 10px;
  margin: 5px;
  border-radius: 8px;
  max-width: 40%; 
  word-wrap: break-word; 
  white-space: pre-wrap; 

}

.sent {
  background-color: #4CAF50;
  align-self: flex-end;
  color: #f4f4f4;
  border-radius: 8px;
  padding: 10px;
  margin: 5px;
}


.received {
  background-color: #9e7608; 
  align-self: flex-start; 
  color: #f4f4f4;
}



.chat-messages::-webkit-scrollbar {
  width: 6px;
}

.chat-messages::-webkit-scrollbar-thumb {
  background-color:#48742F;
  border-radius: 10px;
}

.green-dot {
  width: 10px;
  height: 10px;
  background-color: #48742F;
  border-radius: 50%;
  display: inline-block;
  margin-left: 5px;
}
.heart-icon {
  cursor: pointer;
  margin-left: 10px;
  font-size: 18px;
}

.heart-icon.active {
  color: red;
}

.chatted-student {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 6px 0;
}
.chat-messages {
  max-height: 400px;
  overflow-y: auto;
  display: flex;
  flex-direction: column-reverse;
}

.chat-input {
  display: flex;
  justify-content: space-between;
}

.chat-input input {
  width: 85%;
}


.unread-badge {
  background-color: #48742F;
  color: white;
  border-radius: 50%;
  padding: 4px 8px;
  font-size: 12px;
  margin-left: 8px;
  display: inline-block;
  min-width: 20px;
  text-align: center;
  animation: pulse 1.5s infinite;
}


.chat-student {
  padding: 10px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: space-between;
  transition: background-color 0.2s ease;
}


.chat-student.selected {
  background-color: #dce0da   ; 
}

.chat-placeholder {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%; 
  text-align: center;
  color: #9c9797;
  margin-left: 240px;
}
.chat-placeholder h3{
 
  color: gray;
 
}
