.complaints-list-container{
    padding: 30px;
}
.heading {
    font-size: 16px;
  }
  
  
.complaint-add-button{
justify-content: center;
text-align: center;
width: 150px;
}
.delete-button {
    padding: 8px 16px;
    background-color: #e74c3c;
    color: white;
    border: none;
    cursor: pointer;
    font-weight: 500;
    display: block;
    margin: auto; 
    width: 110px;
  }
  

  .complaints-table th,
.complaints-table td {
  padding: 12px 15px;
  text-align: center;
  border-bottom: 1px solid #ddd;
  word-wrap: break-word; 
}

.no-complaints-msg{
    margin-top: 20px;
    font-size: 18px;
}
