.complaints-list-container{
    padding: 30px;
}
.heading {
    font-size: 16px;
  }
  
  
.complaint-add-button{
justify-content: center;
text-align: center;
width: 150px;
}
.delete-button {
    padding: 8px 16px;
    background-color: #e74c3c;
    color: white;
    border: none;
    cursor: pointer;
    font-weight: 500;
    display: block;
    margin: auto; 
    width: 110px;
  }
  
.complaintss{
    text-align: center;
    margin-bottom: 10px;
    
}

.complaints-table {
    width: 100%;
    border-collapse: collapse;
    margin: 20px 0;
    font-size: 16px;
    table-layout: fixed;
  }

  .complaints-table th,
.complaints-table td {
  padding: 12px 15px;
  text-align: left;
  border-bottom: 1px solid #ddd;
  word-wrap: break-word; /* Wraps text to next line if content exceeds cell width */
  max-width: 200px; /* You can adjust the width as per your requirement */
}

