.directory-search {
    width: 100%;
    padding: 12px 16px;
    font-size: 16px;
    outline: none;
    margin-bottom: 20px;
  
  }
  
.directory-container h2{
  margin-bottom: 18px;
}

.no-repo{
  font-size: 18px;
}

.request-resource {
  color: white;
  padding: 5px 10px;
  cursor: pointer;
  justify-content: center;
  background-color: #48742F;
  width: 140px !important;
  border-radius: 4px; 
  font-size: 16px; 
  margin-bottom: 10px;
}
