/* EditUniversity.css */
.edit-university-container {
  max-width: 800px;
  margin: 0 auto;
  margin-top: 15px;
  margin-bottom: 15px;
  padding: 20px;
  background-color: #f5f5f5;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
  
}

 h4 {
  margin-top: 20px;
  font-size: 20px;
  color: #333;
  text-align: left;
}


h2 {
  font-size: 2rem;
  text-align: center;
  margin-bottom: 20px;
}

label {
  display: inline-block;
  font-size: 1rem;
  width: 600px; /* Adjust width to your needs */
}


button {
  padding: 10px 10px;
  font-size: 1rem;
  cursor: pointer;
  border: none;
  border-radius: 4px;
  background-color:#48742F;
  color: white;
  transition: background-color 0.3s;
}

button:disabled {
  background-color: #ccc;
  cursor: not-allowed;
}

button:hover:not(:disabled) {
  background-color:#48742F;
}

/* Small buttons for icons */
button i {
  font-size: 1.25rem;
}

button {
  display: inline-flex;
  align-items: center;
}

h3 {
  font-size: 1.5rem;
  margin-top: 20px;
}

h4 {
  font-size: 1.2rem;
}

.container{
  margin-right: 25px;
}