

.footer-container .Right {
  color: white;
  font-size: 15px;
  text-align: center;
}

.footer-container .email {
  color: white;
  margin-left: 0.10cm;
  font-size: 15px;
}

.footer-container p {
  margin: 0;
  padding: 4px;
  line-height: 1.2;
  font-size: 14px;
  color: white; 
}