/* Container for Forgot Password */
.forgot-password-container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 70vh;
    color: #333;
    font-family: Arial, sans-serif;
    margin-left: 200px;
}

/* Card-style form container */
.forgot-password-card {
    background: white;
    width: 400px;
    height: 350px;
    padding: 30px;
    border-radius: 20px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}
.login-back{
    color: #070707;
    margin-top: 10px;
    text-decoration: none;
    font-weight: bold;
}

/* Header for the form */
.forgot-password-card h2 {
    color: #48742F;
    font-size: 24px;
    margin-bottom: 20px;
}

/* Email input styling */
.forgot-password-input {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 10px;
    font-size: 16px;
}

/* Button styling */
.forgot-password-button {
    background-color: #48742F;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 20px;
    cursor: pointer;
    font-size: 16px;
    width: 100%;
    transition: background-color 0.3s ease;
}

.forgot-password-button:hover {
    background-color: #3a5d27;
}

/* Message styling */
.forgot-password-message {
    margin-top: 20px;
    color: #333;
    font-size: 14px;
    font-style: italic;
}

/* Link styling */
.forgot-password-link {
    margin-top: 15px;
    color: #070707;
    text-decoration: none;
    font-size: 13px;
}

.forgot-password-link:hover {
    text-decoration: underline;
}
.login-container {
    display: flex;
    height: 70vh;
    background:  #2c5711;
    color: #333;
    font-family: Arial, sans-serif;
}
.login-header {
    display: flex;
    align-items: center; /* Align items vertically centered */
    gap: 10px; /* Space between the logo and heading */
    margin-top: 7%;
}

.login-logo {
    width: 120px; /* Adjust size as needed */
    height: auto; /* Maintain aspect ratio */
    margin-bottom: 20px;
    margin-top: 0px;
    border-radius: 50%;
}

.login-header h1 {
    margin: 0; /* Remove default margin from h1 for better alignment */
    color: #333; /* Set color to ensure readability */
    font-size: 1.5rem; /* Adjust font size as desired */
    margin-bottom: 20px;
}

.left-section {
    width: 35%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: white;
    text-align: center;
}

.left-section h2 {
    font-size: 26px;
   
}

.left-section p {
    font-size: 18px;
    margin: 10px 0;
    font-style: italic;
    margin-bottom: 0%;
}

.left-section .register-button {
    background-color:#f4f4f5;
    color: #48742F;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    font-size: 16px;
    margin-top: 20px;
    width: 160px;
    margin-left: 2%;
}
