.forgot-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 100px;
    padding: 40px;
    max-width: 500px;
    background: #f9f9f9;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    margin-left: 425px;
    margin-bottom: 100px;
}
  
  .forgot-form h3 {
    font-size: 24px;
    color: #333;
    margin-bottom: 20px;
  }
  
  .forgot-form input {
    width: 100%;
    padding: 10px 15px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    color: #333;
    outline: none;
    height: 40px;
    transition: border-color 0.3s;
   
  }
  
  .forgot-form input:focus {
    border-color:  #48742F;
  }
  
  .forgot-form button {
    width: 100%;
    padding: 10px 15px;
    background-color: #48742F;
    color: #fff;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  
  
  .back-login {
    margin-top: 15px;
    font-size: 14px;
    text-decoration: none;
    color: #48742F;
    transition: color 0.3s;
    font-size: 16px;
  }
  
  
  .submit-reset-buttonnnnn{
    justify-content: center;
    align-items: center;
   
  }