.login-container {
    width: 120%;
    max-width: 600px;
    margin: 50px auto; /* Center the container */
    padding: 20px;
    background-color: white;
    font-family: Arial, sans-serif;
    color: #333;
    border: 1px solid #ddd;
    border-radius: 10px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.login-logo {
    width: 120px; /* Adjust size as needed */
    height: auto;
    border-radius: 50%;
    margin-bottom: -20px;
}

.login-header h1 {
    font-size: 1.5rem;
    color: #333;
    margin-bottom: 13px;
}

.form {
   
    max-width: 390px;
    margin-left: 5%;
    margin-top: 15px;
}



.form-group input {
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
    outline: none;
    transition: 0.3s ease-in-out;
    width: 170%;
}

.form-group input:focus {
    border-color: #48742F;
}

.form-group input[type="password"],
.form-group input[type="text"] {
 
  padding: 12px 18px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-sizing: border-box;
  background-color: #fff;
  color: #333;
  height: 42px;
  width: 170%;
  margin-bottom: 15px;
  transition: border 0.3s ease;
}

.form-group input[type="password"]:focus,
.form-group input[type="text"]:focus {
  border-color: #6c63ff;
  outline: none;
}



.forgot-password {
    font-size: 14px;
    text-align: right;
    width: 120%;
    display: flex;
    justify-content: flex-end;
}

.show-password label {
    font-size: 14px !important; /* Force label font size */
    cursor: pointer; /* Pointer cursor when hovering over the label */
    margin-left: -250px;
    margin-bottom: -3px;
    margin-top: -37px;
    color: black;

}
.show-password input[type="checkbox"] {
   
    width: 18px; /* Adjust size of the checkbox */
    height: 18px; /* Adjust size of the checkbox */
    cursor: pointer; /* Pointer cursor for better UX */
   

    margin-left: -370px;
}
.forgot-password-link {
    color: #070707;
    text-decoration: none;
    margin-top: -12px;
}

.forgot-password-link:hover {
    text-decoration: underline;
}
.login-button {
    width: 130%; /* Set button width to 120% */
    padding: 10px; /* Same padding as input fields */
    font-size: 16px;
    color: #fff;
    background-color: #48742F;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 45px;
    text-align: center;
    display: block;
    margin-left: -1%; /* Shift left to keep it aligned */
}

.login-button:hover {
    background-color: #365922;
}


.signup-text {
    margin-top: 15px;
    font-size: 14px;
margin-left: 90px;}

.signup-link {
    color: #48742F;
    text-decoration: none;
    font-weight: bold;
}

.signup-link:hover {
    text-decoration: underline;
}
