.registration-container {
    display: flex;
    height: 100vh;
    color: #333;
    font-family: Arial, sans-serif;
    color: white;
}

.signup-logo {
    width: 140px; /* Adjust size as needed */
    height: auto; /* Maintain aspect ratio */
    margin-bottom: 20px;
    margin-top: 0px;
    border-radius: 50%;
}
.signup-header {
  width: 80%;
    margin-bottom: 20px;
    margin-right: 10%;
    justify-content: center; 
}

.signup-header h1 {
    color: #333; /* Set color to ensure readability */
    font-size: 1.5rem; /* Adjust font size as desired */
    margin-bottom: 20px;
    margin-top: 30px;
  
}

.left-section {
    width: 35%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 20px;
    margin-left: 10%;
}

.left-section h2 {
    font-size: 26px;
   
}

.left-section p {
    font-size: 18px;
    margin: 10px 0;
    font-style: italic;
    margin-bottom: 0%;
}

.left-section .login-button {
   justify-content: center;
    color: #f2f5f1;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    font-size: 16px;
    margin-top: 20px;
    width: 160px;
    margin-left: 2%;
}



.form {
   
    margin-right: 20px;
    margin-top: 20px;
}

.form-group {
    display: flex;
    gap: 10px;
    margin-bottom: 7px;  
    color: black;
}
.email{
    margin-top: 5px;
    margin-bottom: 15px;
}


.form-group input, .form-group select {
    flex: 1;
    padding: 10px;
    border: 1px solid #d1d5db;
    border-radius: 5px;
    margin-bottom: 5px;
    margin-top: 10px;
    color: black;
}

.register-button {
    background-color:#48742F;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 20px;
    cursor: pointer;
    font-size: 16px;
    width: 30%;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 35%;
    
}

.role-toggle label {
    padding: 20px; /* Add padding for better appearance */
    text-align: center; /* Center the text inside each label */
    cursor: pointer; /* Change cursor to pointer for clickability */
}

