.repository-form-container {
    max-width: 550px;
    margin: 40px auto;
    padding: 20px;
    background: #f9f9f9;
    border-radius: 8px;
    box-shadow: 0 0 10px #ccc;
    align-items: center;
  }
  
  .repository-form-container h2 {
    text-align: center;
    margin-bottom: 20px;
  }
  
  .repository-form-container label {
    margin-top: 10px;
    font-weight: 500;
    margin-left: 13px;
    margin-bottom: 7px;

  }
  
  .repository-form-container input,
  .repository-form-container select {
    width: 95%;
    padding: 10px;
    margin-top: 0px;
    box-sizing: border-box;
    margin: 10px 13px;
  }
  
    
  .radio-repo-container {
    display: flex;
    align-items: center;
    gap: 8px;
    margin: 8px 0;
    font-size: 15px;
    color: #333;
    cursor: pointer;
    margin-left: 17px;
  }
  
  .radio-repo-container input[type="radio"] {
    accent-color: #48742F; /* Purple tone for better UI */
    cursor: pointer;
    width: 16px;
    height: 16px;
  }
  
  .radio-repo {
    cursor: pointer;
    user-select: none;
  }
  
  .repository-form-container .add-repo {
    margin-top: 20px;
    margin: 10px 13px;
    padding: 10px;
    background-color: #48742F;
    color: white;
    width: 95%;
    cursor: pointer;
    border-radius: 4px;
    text-align: center;
justify-content: center;
  }
  
.select-student{
  margin: 10px 13px;
}

.select-student label{
  margin: 13px 0px;
}