.accp-rej-btn{
    display: flex;
    color: white;
    padding: 5px 5px;
    justify-content: center;
    border-radius: 4px; 
    font-size: 16px; 
}

.accp-btn{
    color: white;
    cursor: pointer;
    justify-content: center;
    width: 110px !important;
    border-radius: 4px; 
    font-size: 16px; 
    margin-bottom: 7px;
   
}

.rej-btn{
    color: white;
    cursor: pointer;
    justify-content: center;
    width: 110px !important;
    border-radius: 4px; 
    font-size: 16px; 
    margin-bottom: 7px;
    background-color: crimson;
}
.no-request{
    font-size: 18px;
  }
  