.schedule-session-container {
    padding: 20px;
}

.page-title {
    font-size: 24px;
    margin-bottom: 20px;
}

.schedule-btn {
    background-color: #48742F; /* Updated color */
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.schedule-btn:hover {
    background-color: #3a5b24; /* Darker shade for hover effect */
}

.form-backdrop {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

.schedule-form {
    background: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    width: 400px;
}

.form-title {
    margin-bottom: 20px;
    font-size: 20px;
}

.form-actions {
    display: flex;
    justify-content: space-between;
}

.submit-btn, .clear-btn, .action-btn {
    padding: 8px 12px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    background-color: #48742F;

}

.submit-btn {
    background-color: #48742F; /* Updated color */
    color: white;
}

.clear-btn {
    background-color: #dc3545;
    color: white;
}

.action-btn {
    background-color: #dc3545;
    color: black;
}

.agenda-table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

.agenda-table th, .agenda-table td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
}

.agenda-table th {
    background-color: #48742F; /* Updated color */
    color: white;
}

.canceled-row {
    background-color: #f8d7da; /* Light red background for canceled sessions */
}

.copy-btn{
   
    padding: 8px 12px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    background-color: #48742F;
    margin-right: 20px;
}

