/* SessionSchedule.css */

.simple-session-scheduler {
  max-width: 500px;
  margin: 40px auto;
  padding: 24px;
  background-color: #ffffff;
  border-radius: 12px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}

.simple-session-scheduler h3 {
  text-align: center;
  margin-bottom: 20px;
  color: #333;
}

.form-group {
  margin-bottom: 16px;
  width: 75%;
}

.schedule-btn{
 justify-content: center;
}

.form-group1 {
  width: 450px;
  margin-block: 20px;
}

.input-with-icon {
  position: relative;
  width: 100%;
}

.input-with-icon input {
  width: 100%;
  padding: 10px 12px 10px 36px;
  border: 1px solid #ccc;
  border-radius: 6px;
  box-sizing: border-box;
}

.input-icon {
  position: absolute;
  top: 50%;
  left: 420px;
  transform: translateY(-50%);
  color: #888;
}

.form-groupd .react-datepicker-wrapper {
  width: 100% !important;
}
.select-student-for-food{
  width: 100% !important;
}

.form-group label {
  font-weight: 500;
  margin-bottom: 6px;
  color: #555;

}
.button-container {
  justify-content: center;
  align-items: center;
  font-size: 16px;
  margin-bottom: 20px;
  text-align: center;
}


.form-actionss {
  margin-top: 20px;
  text-align: center;
  margin-bottom: 20px;
}

.schedule-btn {
  background-color: #48742F;
  color: white;
  font-size: 15px;
  width: 40%;
  border-radius: 5px;
  cursor: pointer;
  justify-content: center;
  align-items: center !important;
}


p {
  text-align: center;
  margin-bottom: 10px;
}

.datepicker-with-icon {
  position: relative;
 
}

.custom-datepicker {
  width: 100%; /* Force full width */
  box-sizing: border-box; /* Include padding and border in width */
  padding: 10px 12px 10px 36px; /* Left space for icon */
  font-size: 14px;
  border: 1px solid #ccc;
  border-radius: 6px;
  outline: none;
  display: block;
}



.calendar-icon {
  position: absolute;
  top: 50%;
  left: 420px;
  transform: translateY(-50%);
  color: #888;
  pointer-events: none;
  margin-top: -7px;
}




.receipt h4 {
  margin-top: 20px;
  font-size: 20px;
  color: #333;
  
  border-bottom: 1px solid #e0e0e0;
  padding-bottom: 5px;
  text-align: center;
}

.receipt p {
text-align: left;
  font-size: 16px;
  color: #444;
  
}

.receipt strong {
  font-weight: 600;
  color: #222;
  margin-left: 18px;
}

.field-row {
  display: flex;
  font-size: 16px;
  color: #444;
  margin-left: 15px;
}

.label {
  width: 180px; /* Adjust width as needed */
  font-weight: 600;
  color: #222;

}

.value {
  flex: 1;
}
