.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #48742F;
    padding: 1rem 2rem;
    gap: 1rem;
  }
  
  .nav-mid-links {
    display: flex;
    align-items: center;
    gap: 1.5rem;
  }
  
  .nav-mid-links a {
    color: white;
    text-decoration: none;
    font-weight: bold;
    padding: 0.5rem;
    border-radius: 5px;
    transition: background-color 0.3s ease;
  }
  
  .nav-mid-links a:hover {
    background-color: #005bb5;
  }
  
  .nav-mid-links a.active {
    color: #ffeb3b; /* Highlight color for active link */
    background-color: #004494; /* Background for active link */
  }
  
  .logout-button {
    background-color: #ff4d4f;
    border: none;
    color: white;
    padding: 0.5rem 1rem;
    cursor: pointer;
    border-radius: 5px;
  }
  
  .logout-button:hover {
    background-color: #ff7875;
  }
  
  .logo-container {
    display: flex;
    align-items: center;
    gap: 0.5rem;
  }
  
  .logo-image {
    width: 50px;
  }
  
  .logo-text {
    color: white;
    font-size: 1.2rem;
    font-weight: bold;
  }
  /* Modal overlay */
.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.6);
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  /* Modal content */
  .modal {
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    text-align: center;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
  }
  
  .modal h2 {
    margin-bottom: 10px;
  }
  
  .modal-buttons {
    display: flex;
    gap: 10px;
    justify-content: center;
    margin-top: 20px;
  }
  
  .confirm-button {
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 5px;
  }
  
  .cancel-button {
    background-color: #ccc;
    color: #333;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 5px;
  }
  
  .confirm-button:hover {
    background-color: #0056b3;
  }
  
  .cancel-button:hover {
    background-color: #999;
  }
  