
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color:#48742F;
  color: #fff;
  padding: 10px 20px;
  
}

.logo-container {
  align-items: center;
  
}

.logo-image {
  width: 50px;
  height: 40px;
  margin-right: 10px;
}

.logo-text {
  font-size: 30px;
  color: #fff;
  margin-top: 20px;
}



.profile-container {
  position: relative;
  display: inline-block;
  overflow: visible;
}

.user-profile {
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: 8px;
  color: white

}
.user-profile h3{
  color: white;
  margin-bottom: 18px;
}

.triangle-icon {
  border-left: 6px solid transparent;
  border-right: 6px solid transparent;
  border-top: 6px solid #fff;
  margin-right: 20px;
}


.dropdown-menu {
  position: absolute;
 background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  min-width: 180px; /* Ensure consistent width */
  top: 100%; /* Align dropdown below the user profile */
  left: 0; 
  right: 0;
}

.dropdown-menu a,
.dropdown-menu button {
  display: block;
  padding: 8px 15px;
  color: #333;
  text-decoration: none;
  background: none;
  border: none;
  font-size: 13px;
  width: 150%;
  cursor: pointer;
}

.dropdown-menu a:hover {
  color:#48742F;
}



.profile-container:hover .dropdown-menu,
.user-profile:focus + .dropdown-menu,
.user-profile:active + .dropdown-menu {
  display: block;
}


.logout-button-student {
  font-size: 14px;
  padding: 8px 15px;
  cursor: pointer;
  text-align: left;
  width: 100%;
  background: none;
  border: none; 
}

.logout-button-student:hover {
  color: red;
}


.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1100;
}

.modal {
  background: #fff;
  padding: 20px;
  border-radius: 4px;
  text-align: center;
  max-width: 400px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.modal-buttons {
  display: flex;
  justify-content: center;
  gap: 10px;
  margin-top: 20px;
}
.modal h3{
  margin-bottom: 20px;
}
.confirm-button,
.cancel-button {
  padding: 10px 20px;
  font-size: 14px;
  border: none;
  cursor: pointer;
  border-radius: 4px;
}


