/* Superadmin Dashboard Styles */
.container {
  padding: 20px;
  background-color: #f8f9fa;
  min-height: 100vh;
}

.main-content {
  max-width: 1200px;
  margin: 0 auto;
  background-color: #ffffff;
  border-radius: 10px;
  padding: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

h1 {
  text-align: center;
  color: #343a40;
  margin-bottom: 30px;
}

.box {
  background-color:#48742F;
  color: white;
  border-radius: 8px;
  padding: 20px;
  text-align: center;
  flex: 1;
  margin: 0 10px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.box:hover {
  background-color: #48742F;
}

.students-table, .admins-table, .universities-table {
  margin-top: 20px;
}

.students-table h3,
.admins-table h3,
.universities-table h3 {
  margin-bottom: 10px;
  
}

.search-bar {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.search-bar::placeholder {
  color: #6c757d;
}

/* Table Styles */
table {
  width: 100%;
  border-collapse: collapse;
  margin-bottom: 30px;
}

table thead th {
  background-color: #48742F;
  color: white;
  padding: 12px;
  text-align: left;
  font-weight: 600;
}

table tbody tr {
  background-color: #ffffff;
  border-bottom: 1px solid #dee2e6;
}

table tbody tr:nth-child(even) {
  background-color: #f1f3f5;
}

table th,
table td {
  padding: 10px;
  border: 1px solid #ddd;
  text-align: left;
  font-size: 14px;
}

th {
  background-color: #48742F;
  color: white;
}

button:hover {
  background-color: #48742F;
}

button:focus {
  outline: none;
}
.delete-button{
  background-color: crimson;
}
.edit-button{
  width: 22%;
  justify-content: center;
}


.bar-container {
padding-left: 40px;
width: 580px;
}


.chart-container {
  width: 450px;
  padding-right: 70px;
}

.ratings{
  display: flex;
  padding: 50px;
  padding-left: 100px;
  padding-right: 100px;
    box-shadow: 0 8px 20px rgba(15, 15, 15, 0.08);
    border-radius: 10px;
  background: #fff;
  max-width: 1200px;
  margin: 10px auto;
  
}

.Academic-Analytics{
  text-align: center;
  margin-top: 20px;
}