

.admin-dashboard {
    padding: 20px;
}

h3 {
    margin-top: 20px;
    text-align: center;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 40px;
}

th, td {
    padding: 10px;
    text-align: left;
    border: 1px solid #ddd;
    
}



.heading {
    font-size: 16px;
     background-color: #48742F;
  }

  .admin-resolve-button{
    width: 150px;
    padding: 8px 16px;
    color: white;
    border: none;
    cursor: pointer;
    font-weight: 500;
    display: block;
    margin: auto; 
    width: 110px;
    background-color: #48742F;
  }

  .barr-container {
    justify-content: center;
    align-items: center;
    width: 70%;
    height: 400px;
    margin: 20px auto 160px auto; 

  }
  
  .barr-wrapper {
  justify-content: center;
  align-items: center;
  height: 100vh; 
  }

.complaint-table tbody tr:nth-child(even) {
  background-color: rgb(238, 234, 234); /* Light gray for even rows */
}
