.reset-password-form h3 {
    text-align: center;
    color: #333;
    margin-bottom: 5%;
  }
  

  .reset-password-form {
    display: flex;
    flex-direction: column;
    max-width: 500px;
    margin: 50px auto;
    padding: 50px;
    border: 1px solid #ddd;
    border-radius: 8px;
    background-color: #f9f9f9;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  
  .reset-password-form label {
    font-size: 16px;
    margin-bottom: 5px;
    color: #020202;
  }
  
  .reset-password-form input {
    width: 100%;
    padding: 10px;
    font-size: 14px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
  }
  
 

  .reset-password-form button {
    padding: 10px 15px;
    font-size: 14px;
    background-color:#48742F;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
   justify-content: center;
  }
  
  .reset-password-form button:hover {
    background-color:#28530d;
  }
  


  .error-message {
    font-size: 14px;
    color: red;
    text-align: center;
  }
  